#home .background-image { background-image: url('images/IMG_20211107_193705192.jpg'); }
#home .dynamic-image { background-image: url('images/IMG_20211107_193705192.jpg'); }

#story1 .background-image { background-image: url('images/IMG_20210516_150854717.jpg'); }
#story1 .dynamic-image { background-image: url('images/IMG_20210516_150854717.jpg'); }

#story2 .background-image { background-image: url('images/IMG_20220729_134509391.jpg'); }
#story2 .dynamic-image { background-image: url('images/IMG_20220729_134509391.jpg'); }

#story3 .background-image { background-image: url('images/IMG-20200224-WA0010.jpg'); }
#story3 .dynamic-image { background-image: url('images/IMG-20200224-WA0010.jpg'); }

#location .background-image { background-image: url('images/IMG_20221224_205741561.jpg'); }
#location .dynamic-image { background-image: url('images/IMG_20221224_205741561.jpg'); }

#hotels .background-image { background-image: url('images/IMG_20231111_191511777.jpg'); }
#hotels .dynamic-image { background-image: url('images/IMG_20231111_191511777.jpg'); }

