@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
  background-image: url('/images/background4.jpg');
  /* background-repeat: no-repeat; */
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Fade-in animation */
@keyframes fadeIn {
  from { 
    opacity: 0;
  }
  to { 
    opacity: 1; 
  }
}

.hero, .our-story, .wedding-details, .rsvp {
  animation: fadeIn 1s ease-in-out;
}

/* Parallax effect */
.hero {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive font sizes */
@media (max-width: 640px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}

header {
  height: 60px;
}

header nav ul li a {
  transition: all 0.3s ease;
}

header nav ul li a:hover {
  color: #ff6347;
  /* transform: scale(2); */
  font-size: 1.1em;
}

/* Timeline styles */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #999;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  opacity: 0;
  transform: translateX(100px); /* Default to translateX for right-aligned items */
  transition: opacity 0.5s, transform 0.5s;
}

.timeline-item.visible {
  opacity: 1;
  transform: translateX(0);
}

.timeline-item.left {
  /* left: 0; */
  transform: translateX(-100px); /* Translate left-aligned items from the left */
}

.timeline-item.right {
  left: 50%;
}

.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline-image {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 15px;
}

.timeline-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.timeline-date {
  color: #666;
  font-style: italic;
  margin-bottom: 10px;
}

.timeline-description {
  line-height: 1.6;
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }
  
  .timeline-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  .timeline-item.right {
    left: 0%;
  }
}
